<div class="smoker-component" (click)="onSmokerComponentClicked()" [class.alarming]="isAlarming">
  <div class="high-gate">
    <div class="centering">
      <label>High Gate</label>
      <div>{{model.highGate }} F</div>
    </div>
  </div>
  <div class="low-gate">
    <div class="centering">
      <label>Low Gate</label>
      <div>{{model.lowGate}} F</div>
    </div>
  </div>
  <div class="temperature">
    <div class="disconnected-icon" [hidden]="!isDisconnected"><mat-icon>report</mat-icon></div>
    <div class="temp-text" [hidden]="isDisconnected">{{model.temperature | number:'1.2-2'}} F</div>
  </div>
</div>