.dialog-content {
  min-height: 200px;
}

#eventDate {
  width: 200px;
}

.turnin-row {
  display: grid;
  input {
    grid-column: 1;
    width: 200px;
    margin-top: 30px;
  }
  timepicker { grid-column: 2 }
}