<div class="bbq-item" [class.alarming]="isAlarming" [class.selected]="isSelected" (click)="itemClicked()" >
  <div class="bbq-item-elapsed">
    <div class="nested-container">
      <label>Time elapsed</label>
      <div>{{cookElapsed?.toString()}}</div>
    </div>
  </div>
  <div class="bbq-item-thermindex">
    <span [hidden]="!isMuted" class="mute-icon"><mat-icon>volume_off</mat-icon></span>
    <span>{{item.probeNumber}}</span>
  </div>
  <div class="bbq-item-targettemp">
    <div class="nested-container">
      <label>Target Temp</label>
      <div>{{item.targetTemperature}}°</div>
  </div>
  </div>
  <div class="bbq-item-temp">
    <div class="disconnected-icon" [hidden]="!isDisconnected"><mat-icon>report</mat-icon></div>
    <div class="text" [hidden]="isDisconnected">{{item.temperature | number:'1.0-0'}}°</div>
  </div>
  <div class="bbq-item-phase">
    <button class="btn btn-info" (click)="nextPhaseClicked($event)">{{ item?.currentPhase ? item?.currentPhase : "Next Phase" }}</button>
  </div>
  <div class="bbq-item-nameweight">
    <div class="nested-container">
      <div class="name">{{item.name}}</div>
      <div class="weight">{{item.weight}} lbs.</div>
    </div>
  </div>
</div>