.bbq-item {
    height: 188px;
    margin: 1px;
    width: 188px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 34% 33%;
    padding: 4px;
}

.bbq-item-elapsed {
  grid-column: 1;
  grid-row: 1
}

.bbq-item-thermindex {
  grid-column: 2;
  grid-row: 1;
}

.bbq-item-targettemp {
  grid-column: 1;
  grid-row: 2;
}

.bbq-item-temp {
  grid-column: 2;
  grid-row: 2;
}

.bbq-item-phase {
  grid-column: 1;
  grid-row: 3;
}

.bbq-item-nameweight {
  grid-column: 2;
  grid-row: 3;
}

.next-phase-button {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}