<div class="content">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <div class="openevent">
    <select class="form-control" [(ngModel)]="selectedEventId">
      <option *ngFor="let e of events" [ngValue]="e.id">{{e.eventDate.toLocaleDateString()}}: {{e.name}}</option>
    </select>
    <button (click)="openExistingEventClicked()" [disabled]="selectedEventId === null">Open Existing Event</button>
    <button (click)="createNewEventClicked()">New Event</button>    
    <button (click)="exitButtonClicked()">Exit App</button>
  </div>
</div>
