<div class="content container">
  <h1 class="title">
    Project Hamdall
  </h1>
  <div class="openevent">
    <div class="form-group" class="open-event-area">
      <select class="form-control" [(ngModel)]="selectedEventId">
        <option *ngFor="let e of events" [ngValue]="e.id">{{e.eventDate.toLocaleDateString()}}: {{e.name}}</option>
      </select>
      <button class="btn btn-primary" (click)="openExistingEventClicked()" [disabled]="!selectedEventId">Open Existing</button>
      <button class="btn btn-primary" (click)="exportEventClicked()" [disabled]="!selectedEventId">Export Selected</button>     
    </div>
    <div class="form-group new-button-area">
        <button class="btn btn-primary" (click)="createNewEventClicked()">Create a new Event</button>
    </div>
  </div>
  <button class="btn btn-primary" (click)="exitButtonClicked()">Exit App</button>
</div>
