.content {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;

  .title {
    color: white;
    padding:50px 20px;
    grid-row: 1;
  }

  .openevent {
    grid-row:2;
  }

}
