<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <div class="form-group">
    <label for="name">Item Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="data.item.name" placeholder="Item name (eg. Butt 1)"
      [matKeyboard] [scrollIntoView]="-30">
  </div>
  <div class="form-group">
    <label for="type">Item Type</label>
    <select class="form-control" id="type" #modelDir="ngModel" [(ngModel)]="data.item.itemType" (ngModelChange)="onItemTypeChanged(modelDir)">
      <option *ngFor="let c of data.itemTypeChoices" [ngValue]="c">{{c}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="weight">Weight</label>
    <input class="form-control" id="weight" [(ngModel)]="data.item.weight" placeholder="Item weight (in lbs)"
      [matKeyboard] [scrollIntoView]="-30">
  </div>
  <div class="form-group">
    <label for="targetTemp">Target Temperature</label>
    <input class="form-control" id="targetTemp" [(ngModel)]="data.item.targetTemperature" placeholder="Target temp for the item"
      [matKeyboard] [scrollIntoView]="-30">
  </div>
  <div class="form-group">
    <label for="probeno">Probe Number</label>
    <select class="form-control" id="probeno" [(ngModel)]="data.item.probeNumber">
        <option *ngFor="let c of data.probeNumberChoices" [ngValue]="c">{{c}}</option>
    </select>
  </div>
  <div class="keyboard-padding"></div>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" class="btn btn-primary" [mat-dialog-close]="true">Save</button>
  <button type="button" class="btn btn-default" mat-dialog-close>Cancel</button>
</mat-dialog-actions>