<div class="bbq-container">
  <div class="btnBar btn-group">
    <button id="btnAdd" class="btn btn-primary" (click)="addItemClicked()">+</button>
    <button id="btnExp" class="btn btn-primary">EXP</button>
    <button id="btnSilence" class="btn btn-primary">SILENCE!!</button>
  </div>
  <div class="turnInCountdown"><app-countdown [dueTime]="event?.turnInTime" ></app-countdown></div>
  <div class="eventInfo"><app-event-info [event]="event"></app-event-info></div>
  <div class="backButton"><a routerLink="/">X</a></div>
  <div class="bbq-item-container">
      <app-bbq-item *ngFor="let item of items" [item]="item"></app-bbq-item>
  </div>
  <div class="smoker-monitor"><app-smoker></app-smoker></div>
  <button id="btnEditItem" class="btn btn-secondary" (click)="editItemClicked()">Edit Item</button>
</div>