<div class="container bbq-container">
  <div class="btnBar">
    <button id="btnAdd">Add</button>
    <button id="btnExp">EXP</button>
    <button id="btnSilence">Silence</button>
  </div>
  <div class="turnInCountdown"><app-countdown [dueTime]="event.turnInTime" ></app-countdown></div>
  <div class="eventInfo"><app-event-info [event]="event"></app-event-info></div>
  <div class="bbq-item-container">
      <app-bbq-item *ngFor="let item of items" [item]="item"></app-bbq-item>
  </div>
  <div class="smoker-monitor"><app-smoker></app-smoker></div>
  <button id="btnEditItem" (click)="editItemClicked()">Edit Item</button>
</div>