.bbq-item-container {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 50% 50%;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.bbq-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16% 42% 42%;
}

.btnBar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 12% 17% auto;
  
  button {
    font-size: large;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
  }

  .alarming {
    color: white;
    background-color: red;
    border-color: red;
  }

  #btnAdd {
    grid-column: 1;
    mat-icon {
      transform: scale(1.6) translateY(10%);
    }
  }

  #btnExp {
    grid-column: 2;
    mat-icon {
      transform: scale(1.6) translateY(10%);
    }
  }
  
  #btnSilence {
    grid-column: 3;
  }
}

.eventInfo {
  grid-column: 4;
  grid-row: 1;
}

.turnInCountdown {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
}

.smoker-monitor {
  grid-column:4;
  grid-row: 2;
}

#btnEditItem {
  grid-column: 4;
  grid-row: 3;
  font-size: x-large;
}

.backButton {
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 0px;
  margin-right: 2px;
  a {
    text-decoration: none;
    color: black;
  }
}